body{
background-color:black;
color:white;
*{
padding:0;
morning:0;
box-sizing:border-box;
font-family:"roboto",serif;
text-decoration-color:green;
text-decoration-thickness:2px;
}
.name{
text-decoration:underline;
text-decoration-color:green;
font-size:20px;
}
.logo{
float:right;
padding:10px 2px;
}
.con{
display:flex;
text-decoration:underline;
}
{@media(max-width:767px);}
.logo1,.logo2,.logo3{
display:flex;
justify-content:space-between;
margin:10px;
}
.text1,.text2,.text3,.lang,.pro{
display:flex;
justify-content:space-between;
}
.arti{
background:#1e1e1e;
color:white;
font-size:12px;
display:flex;
justify-content:space-between;
}
.con1{
font-weight:bold;
font-size:24px;
}
}


